.bs-button {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.46%);
  border-radius: 0px 8px 8px 0px;
}

.logo {
  width: 188.1px;
  height: 32.19px;
}

.navv {
  /* border: solid 3px #a02279; */
  padding: 40px 0 30px 0;
  justify-content: space-between;
}
.nav--items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* min-width: 500px; */
  /* border: solid 3px #a02279; */
  padding-top: 10px;
}
.nav--items > p {
  height: 25px;
  align-self: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;

  color: #434343;
}
.navv--button {
  background-color: #a02279 !important;
  border: none !important;
  border-radius: 10px !important;
}
.nav--mobile {
  display: none;
}
.navv--button--mobile {
  /* margin-left: auto !important; */
  background-color: #a02279 !important;
  width: 100%;
}
ul {
  list-style-type: none;
  padding: 0 !important;
  margin: 0;
  font-size: 18px;
  line-height: 35px;
}
.hamburger {
  display: none;
}
.hero {
  width: 100%;
  padding: 40px 20px;
  /* height: 80%;wi */
  /* border: solid 3px #a02279; */
}

/* .main--section-1 {

  display: flex;
  gap: 64px;
  padding: 0 20px 0 80px;
  margin-top: 45px;
} */
.description {
  /* border: solid 3px #a02279; */
  padding: 20px 20px 60px 00px;
}
.description > p {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 35px; */
  /* or 146%

  /* text black */

  color: #434343;
}
.description > h2 {
  padding-top: 15px;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 140%;
  letter-spacing: -0.02em;

  color: #434343;
}

.foo {
  color: #a02279;
  font-weight: 700;
}
.input-button {
  margin-top: 40px;
}
.input-button > input {
  /* border: solid 3px #a02279; */
  height: 45px;
  border-right: none;
  background: rgba(247, 247, 247, 0.1);
  border: 1px solid #a3a3a3;
  border-radius: 8px 0px 0px 8px;
  width: 62%;
}
.input-button > input::placeholder {
  padding: 10px;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */

  color: #b8b8b8;
}
.input-button > button {
  height: 45px;
  border: none;
  width: 38%;
  padding: 0 10px;
  background-color: #a02279;
  color: white;
  border-radius: 0px 8px 8px 0px;
}

.divide {
  background-color: #a02279;
  display: flex;
  justify-content: space-around;
  height: 55px;
  align-items: center;
}
.divide > img {
  width: 214.14px;
  height: 30.56px;
  /* padding: 10px; */
}

.inspiration {
  /* border: solid 3px #a02279; */
  justify-content: center;
  margin: 30px 0;
  padding-top: 50px;
  text-align: center;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}
.lost {
  display: flex;
  justify-content: space-between;
}
.card {
  padding: 10px;
  width: 100%;
  border-radius: 15px !important;
}
.card > img {
  margin-bottom: 10px;
}
.bar {
  margin-bottom: 15px;
}
.nft--info {
  display: flex;
}
.nft--info > p {
  height: 10px;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 9.5px;
  line-height: 13px;
  color: #434343;
}
.nft--info--1 {
  margin-right: auto;
}
.stars {
  width: 90px;
}

@media screen and (max-width: 540px) {
  .divide > img {
    width: 100px;
  }
}
@media screen and (max-width: 400px) {
  .divide > img {
    width: 87px;
  }
}
@media screen and (max-width: 768px) {
  .nft--info > p {
    font-size: 12px;
  }
  .desktop--nav {
    display: none;
  }
  .navv--button {
    display: none !important;
  }

  .hamburger {
    display: inline-block;
    /* border: solid 3px #a02279; */
    /* width: 100px !important; */
    /* height: 70px; */
    margin-left: auto;
    height: 40px;
    width: 40px;
  }
}

/* section 3 */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

.section--3 {
  /* height: 774px; */
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  padding: 100px 0;
  color: white;
}

.hero--2 {
  width: 100%;
  /* width: 150px; */
}
.learnmore {
  background: linear-gradient(
    124.4deg,
    #ffffff 10.8%,
    #ffffff 87.34%
  ) !important;
  border-radius: 8px !important;
  color: #a02279 !important;
  border: none !important;
}
.discover_nft {
  padding: 20px 0;
}

/* footer */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

.footer {
  color: white;
  background: #1d1d1e;
  padding: 40px 0 10px 0;
}
.footer--logo {
  width: 70%;
  /* border: solid 3px #a02279; */
}

.footer--socials {
  /* border: solid 3px #a02279; */
  width: 60%;
  margin: 110px 0 10px 0;
  display: flex;
  justify-content: space-between;
}

.footer--li {
  font-weight: 300;
  font-size: 12px;
  line-height: 35px;
  color: #f1f3f9;
}
.copyright {
  width: 13px;
}
.baz {
  margin-bottom: 55px;
  font-size: 10px;
}

.footer--col {
  padding-left: 45px !important;
}
