.bs-button {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.46%);
  border-radius: 0px 8px 8px 0px;
}

.logo {
  width: 188.1px;
  height: 32.19px;
}

nav {
  display: flex;
  /* border: solid 3px #a02279; */
  justify-content: space-between;
  align-items: flex-start;
  padding: 43px 80px;
}

nav > button {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  border: none;
}
nav > p {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #434343;
}

.hero {
  height: 80%;
  /* border: solid 3px #a02279; */
}

.main--section-1 {
  /* border: solid 3px #a02279; */

  display: flex;
  gap: 64px;
  padding: 0 20px 0 80px;
  margin-top: 45px;
}

.description > p {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 35px; */
  /* or 146%

  /* text black */

  color: #434343;
}
.description > h2 {
  padding-top: 15px;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 140%;
  letter-spacing: -0.02em;

  color: #434343;
}

.foo {
  color: #a02279;
  font-weight: 700;
}
.input-button {
  margin-top: 40px;
}
.input-button > input {
  /* border: solid 3px #a02279; */
  height: 45px;
  border-right: none;
  background: rgba(247, 247, 247, 0.1);
  border: 1px solid #a3a3a3;
  border-radius: 8px 0px 0px 8px;
  width: 62%;
}
.input-button > input::placeholder {
  padding: 10px;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */

  color: #b8b8b8;
}
.input-button > button {
  height: 45px;
  border: none;
  width: 38%;
  padding: 0 10px;
  background-color: #a02279;
  color: white;
  border-radius: 0px 8px 8px 0px;
}

.divide {
  background-color: #a02279;
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}
.divide > img {
  width: 214.14px;
  height: 30.56px;
}

.inspiration {
  margin: 30px 0;
  height: 60px;
  text-align: center;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

.card {
  padding: 10px;
  width: 260px;
}
.card > img {
  margin-bottom: 10px;
}
.nft--info {
  display: flex;
}
.nft--info > p {
  height: 10px;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #434343;
}
.nft--info--1 {
  margin-right: auto;
}
.stars {
  width: 90px;
}
